.data-info-box.dataset[type=Pressemitteilung],
.data-info-box.dataset[type=Webseite] {
    background-color: #f33b1d10 !important;
    border-color: #f33b1d !important;
}
.data-info-box.dataset[type=Pressemitteilung]:hover,
.data-info-box.dataset[type=Webseite]:hover {
    background-color: #f33b1d28 !important;
}
.dataset-details-header[type=Pressemitteilung] img.catalogue-flag,
.data-info-box.dataset[type=Pressemitteilung] img.catalogue-flag,
.dataset-details-header[type=Webseite] img.catalogue-flag,
.data-info-box.dataset[type=Webseite] img.catalogue-flag {
    border: none !important;
    content: url('wiki-berlin.svg');
    height: 1.25rem;
    width: 0.7623rem;
}

.data-info-box.dataset[type=Twitter] {
    background-color: #1D9BF020 !important;
    border-color: #1D9BF0 !important;
}
.data-info-box.dataset[type=Twitter]:hover {
    background-color: #1D9BF040 !important;
}
.dataset-details-header[type=Twitter] img.catalogue-flag,
.data-info-box.dataset[type=Twitter] img.catalogue-flag {
    border: none !important;
    content: url('fa-twitter.svg');
    height: 1.25rem;
    width: 1.25rem;
}

div[type=Artikel] .badge,
.badge[type=Artikel] {
    background-color: #FFFFFF !important;
    border-color: #004B87 !important;
    color: #004B87 !important;
}
div[type=PDF] .badge,
.badge[type=PDF] {
    background-color: #F40F02 !important;
    border-color: #BA131F !important;
    color: #FFFFFF !important;
}
div[type=Tweet] .badge,
.badge[type=Tweet] {
    background-color: #1D9BF0 !important;
    border-color: #657786 !important;
    color: #F5F8FA !important;
}
