/* ------------------ */
/*   common: colors   */
/* ------------------ */

body {
    background-color: #f8f8f8!important;
    font-weight: 400;
    transition: background-color 400ms, border-color 400ms, color 400ms;
}
body.dark-mode {
    background-color: #101828!important;
    color: #90a0b8;
}

header nav.navbar,
.datasets section .filters-group,
.datasets section .count-group,
.datasets section .selected-facets-group,
.datasets section .items-group,
.datasets section .loading-indicator,
.dataset-facets .facet-field .list-group,
.dataset .details-top .actions-row,
.dataset .details-top .header-row,
.dataset .description,
.dataset .distributions,
.dataset .keywords,
.dataset .info {
    box-shadow: 0 .3rem .7rem 0 rgba(0,0,0,.1) !important;
}
.dark-mode header nav.navbar,
.dark-mode .datasets section .items-group,
.dark-mode .datasets section .loading-indicator,
.dark-mode .dataset-facets .facet-field .list-group,
.dark-mode .dataset .details-top .actions-row,
.dark-mode .dataset .distributions {
    box-shadow: 0 0 0 1px rgb(255 255 255 / 15%) !important;
}
.dark-mode .datasets section .filters-group,
.dark-mode .datasets section .count-group,
.dark-mode .datasets section .selected-facets-group,
.dark-mode .dataset .details-top .header-row,
.dark-mode .dataset .description,
.dark-mode .dataset .keywords,
.dark-mode .dataset .info {
    border: 1px solid rgb(255 255 255 / 15%) !important;
    box-shadow: none !important;
}
.dark-mode .datasets section .filters-group,
.dark-mode .dataset .details-top .header-row,
.dark-mode .dataset .keywords {
    border-bottom: none !important;
}
.dark-mode .datasets section .count-group {
    border-top: none !important;
    border-bottom: none !important;
}
.dark-mode .datasets section .selected-facets-group,
.dark-mode .dataset .description,
.dark-mode .dataset .info {
    border-top: none !important;
}

header nav.navbar .nav-link {
    color: #304868;
    font-size: .875rem;
    font-weight: 400;
}
.dark-mode header nav.navbar .nav-link {
    color: #90a0b8 !important;
}

.dataset-facets .list-group-item,
.datasets section .count-group,
.datasets section .selected-facets-group {
    color: #304868;
    font-size: .875rem;
    font-weight: 600;
}
.dark-mode .dataset-facets .list-group-item,
.dark-mode .datasets section .count-group,
.dark-mode .datasets section .selected-facets-group {
    background-color: #202838;
    color: #90a0b8;
}

header nav.navbar .navbar-brand {
    color: #304868;
    font-size: .875rem;
    font-weight: 700 !important;
}
.dark-mode header nav.navbar .navbar-brand {
    color: #90a0b8;
}

.dropdown-menu {
    font-size: .875rem;
}
.dropdown-menu .btn {
    font-size: .875rem;
}

.dataset-facets .list-group-item-action.active .facet-count,
.datasets section .selected-facets-group .badge {
    background: #cb0c9f !important;
    border-color: #cb0c9f !important;
    color: #fff !important;
}
.dark-mode .dataset-facets .list-group-item-action.active .facet-count,
.dark-mode .datasets section .selected-facets-group .badge {
    background-color: #f070b8 !important;
    border-color: #f070b8 !important;
}

.dataset-facets .facet-header-item {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    background-position-x: 25%;
    background-size: 150%;
}
.dataset-facets .list-group-item-action.active:hover {
    background-color: #fff;
    background-image: linear-gradient(310deg,#7928ca60,#ff008060);
    background-position-x: 25%;
    background-size: 150%;
}
.dataset-facets .list-group-item-action.active {
    background-color: #fff;
    background-image: linear-gradient(310deg,#7928ca40,#ff008040);
    background-position-x: 25%;
    background-size: 150%;
}
.dataset-facets .list-group-item-action:focus,
.dataset-facets .list-group-item-action:hover {
    background-color: #fff;
    background-image: linear-gradient(310deg,#7928ca20,#ff008020);
    background-position-x: 25%;
    background-size: 150%;
}
.dark-mode .dataset-facets .facet-header-item {
    background-image: linear-gradient(310deg,#981858,#f070b8);
}
.dark-mode .dataset-facets .list-group-item-action.active:hover {
    background-color: #101828;
    background-image: linear-gradient(310deg,#981858f0,#f070b8f0);
}
.dark-mode .dataset-facets .list-group-item-action.active {
    background-color: #101828;
    background-image: linear-gradient(310deg,#981858b0,#f070b8b0);
}
.dark-mode .dataset-facets .list-group-item-action:focus,
.dark-mode .dataset-facets .list-group-item-action:hover {
    background-color: #101828;
    background-image: linear-gradient(310deg,#98185880,#f070b880);
    color: #e0e8f0;
}

.datasets section .items-group .dataset a:hover {
    border-color: #cb0c9f40 !important;
}
.dark-mode .datasets section .items-group .dataset a:hover {
    border-color: #f070b8a0 !important;
}

/* ------------------ */
/*  common: buttons   */
/* ------------------ */

.btn.btn-secondary,
input.form-control,
a > .rounded-pill,
.pagination > li > button.page-link {
    background: #fff !important;
    border: 1px solid #cb0c9f;
    border-radius: .5rem;
    color: #cb0c9f !important;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    line-height: 1.4rem;
    padding: .5rem .75rem;
    text-align: center;
}
.dark-mode .btn.btn-secondary,
.dark-mode input.form-control,
.dark-mode a > .rounded-pill,
.dark-mode .pagination > li > button.page-link {
    background-color: #202838 !important;
    border-color: #f070b8;
    color: #90a0b8 !important;
}
.dark-mode input.form-control::placeholder {
    color: #90a0b8 !important;
}
input.form-control {
    text-align: left;
}
a > .rounded-pill {
    line-height: 1rem;
}
.pagination > li.active > button.page-link {
    background-color: #fff !important;
    background-image: linear-gradient(310deg,#7928ca40,#ff008040) !important;
    background-position-x: 25% !important;
    background-size: 150% !important;
    border-color: #cb0c9f !important;
    color: #cb0c9f !important;
}
.dark-mode .pagination > li.active > button.page-link {
    background-color: #101828 !important;
    background-image: linear-gradient(310deg,#981858b0,#f070b8b0) !important;
    border-color: #f070b8 !important;
    color: #e0e8f0 !important;
}

.btn.btn-secondary:focus,
.navbar .nav-link:focus,
.navbar .navbar-brand:focus,
input.form-control:focus,
a > .rounded-pill:focus,
.pagination > li > button.page-link:focus,
.datasets section .items-group .dataset a:focus {
    background-color: #fff !important;
    border-color: #cb0c9f !important;
    box-shadow: inset 0 0 0 0.25rem #cb0c9f40;
    color: #cb0c9f !important;
    outline: 0;
}
.datasets section .items-group .dataset a:focus {
    color: inherit !important;
}
.dark-mode .btn.btn-secondary:focus,
.dark-mode .navbar .nav-link:focus,
.dark-mode .navbar .navbar-brand:focus,
.dark-mode input.form-control:focus,
.dark-mode a > .rounded-pill:focus,
.dark-mode .pagination > li > button.page-link:focus,
.dark-mode .datasets section .items-group .dataset a:focus {
    background-color: #202838 !important;
    border-color: #f070b8 !important;
    box-shadow: inset 0 0 0 0.125rem #90a0b8;
    color: #90a0b8 !important;
}

.btn.btn-secondary:hover,
.navbar .nav-link:hover,
.navbar .navbar-brand:hover,
input.form-control:hover,
a > .rounded-pill:hover,
.pagination > li > button.page-link:hover {
    background-color: #fff !important;
    background-image: linear-gradient(310deg,#7928ca20,#ff008020) !important;
    background-position-x: 25% !important;
    background-size: 150% !important;
    border-color: #cb0c9f !important;
    color: #cb0c9f !important;
}
.dark-mode .btn.btn-secondary:hover,
.dark-mode .navbar .nav-link:hover,
.dark-mode .navbar .navbar-brand:hover,
.dark-mode input.form-control:hover,
.dark-mode a > .rounded-pill:hover,
.dark-mode .pagination > li > button.page-link:hover {
    background-color: #101828 !important;
    background-image: linear-gradient(310deg,#98185880,#f070b880) !important;
    border-color: #f070b8 !important;
    color: #e0e8f0 !important;
}
.pagination > li.active > button.page-link:hover {
    background-color: #fff !important;
    background-image: linear-gradient(310deg,#7928ca60,#ff008060) !important;
    background-position-x: 25% !important;
    background-size: 150% !important;
    border-color: #cb0c9f !important;
    color: #cb0c9f !important;
}
.dark-mode .pagination > li.active > button.page-link:hover {
    background-color: #101828 !important;
    background-image: linear-gradient(310deg,#981858f0,#f070b8f0) !important;
    border-color: #f070b8 !important;
    color: #e0e8f0 !important;
}

.navbar .btn.btn-secondary {
    border: none;
    line-height: 1rem;
    padding: 0 .5rem;
}
.navbar .nav-link.active {
    position: relative;
}
.navbar .nav-link.active:before {
    border-bottom: .2rem solid #cb0c9f;
    border-radius: 1rem;
    bottom: -.75rem;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
}
.dark-mode .navbar .nav-link.active:before {
    border-bottom-color: #f070b8;
}

.link-dark {
    color: #cb0c9f;
}
.dark-mode .link-dark {
    color: #f070b8;
}
.link-dark svg {
    color: #cb0c9f !important;
}
.dark-mode .link-dark svg {
    color: #f070b8 !important;
}
.link-dark:hover {
    background-color: #fff !important;
    background-image: linear-gradient(310deg,#7928ca20,#ff008020);
    background-position-x: 25%;
    background-size: 150%;
    color: #cb0c9f;
}
.dark-mode .link-dark:hover {
    background-color: #101828 !important;
    background-image: linear-gradient(310deg,#98185880,#f070b880);
    color: #e0e8f0;
}
.link-dark:hover svg {
    color: #cb0c9f !important;
}
.dark-mode .link-dark:hover svg {
    color: #f070b8 !important;
}
.link-dark:focus {
    box-shadow: 0 0 0 0.25rem #cb0c9f40;
    color: #cb0c9f !important;
    outline: 0;
}
.dark-mode .link-dark:focus {
    box-shadow: inset 0 0 0 0.125rem #90a0b8;
    color: #f070b8 !important;
}

/* ------------------ */
/*   common: cards    */
/* ------------------ */

.datasets section .filters-group,
.dataset-facets .facet-field .list-group,
.datasets section .count-group,
.datasets section .selected-facets-group,
.datasets section .items-group,
.datasets section .loading-indicator,
.dataset .details-top .actions-row,
.dataset .details-top .header-row,
.dataset .description,
.dataset .distributions,
.dataset .keywords,
.dataset .info {
    background: #fff;
    border-radius: 1rem;
}
.dark-mode .datasets section .filters-group,
.dark-mode .dataset-facets .facet-field .list-group,
.dark-mode .datasets section .count-group,
.dark-mode .datasets section .selected-facets-group,
.dark-mode .datasets section .items-group,
.dark-mode .datasets section .loading-indicator,
.dark-mode .dataset .details-top .actions-row,
.dark-mode .dataset .details-top .header-row,
.dark-mode .dataset .description,
.dark-mode .dataset .distributions,
.dark-mode .dataset .keywords,
.dark-mode .dataset .info {
    background: #202838;
}
.datasets section .input-group .input-group-append button {
    border-radius: 0 .5rem .5rem 0;
}

/* ------------------ */
/*       header       */
/* ------------------ */

header {
    -webkit-backdrop-filter: saturate(175%) blur(.3rem);
    backdrop-filter: saturate(175%) blur(.3rem);
    background-color: #f8f8f8c0 !important;
    height: calc(5rem - 2px);
    position: sticky;
    top: 0;
    z-index: 1024;
}
.dark-mode header {
    background-color: #101828c0 !important;
}
header.border-bottom {
    border-bottom: none !important;
}
header.mb-3 {
    margin-bottom: 0 !important;
}
header nav.navbar {
    background-color: #ffffff40 !important;
    border-radius: 1rem;
    left: 0 !important;
    margin: 1rem 1.5rem 1rem 1.5rem !important;
    padding: 0.5rem 1rem !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 5 !important;
}
.dark-mode header nav.navbar {
    background-color: #60708830 !important;
}
header nav.navbar > .container-fluid {
    padding: 0;
}
header nav.navbar .navbar-brand {
    border-radius: .5rem;
    letter-spacing: -0.03rem;
    margin: 0 1rem !important;
    padding: .5rem .75rem;
}
@media (min-width: 992px) {
    header nav.navbar .navbar-brand {
        margin-left: 0 !important;
    }
}
header nav.navbar .nav-link {
    border-radius: .5rem;
    padding: .5rem .75rem;
}

.content-wrapper {
    padding-top: 1rem;
}

/* ------------------ */
/*   dataset-facets   */
/* ------------------ */

.dataset-facets .facet-field .list-group {
    margin-right: .75rem;
    padding-bottom: 1rem;
    padding-right: 0;
}

.dataset-facets .list-group-item {
    border: none;
    border-radius: 0;
}
.dataset-facets .list-group-item-action.active {
    color: #304868;
}
.dark-mode .dataset-facets .list-group-item-action.active {
    color: #e0e8f0;
}

.dataset-facets .facet-count {
    background: #fff !important;
    border-color: #304868 !important;
    border-radius: .5rem;
    color: #304868 !important;
}
.dark-mode .dataset-facets .facet-count {
    background-color: #202838 !important;
    border-color: #90a0b8 !important;
    color: #90a0b8 !important;
}

.dataset-facets .facet-header-item {
    border-radius: 1rem 1rem 0 0 !important;
    border: 0;
    font-size: .75rem;
    margin: 0 !important;
    padding: .75rem 1.5rem !important;
    text-align: center;
    width: 100% !important;
}
.dataset-facets .facet-header-item .facet-title {
    color: #fff !important;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
}
.dataset-facets .btn.btn-secondary {
    margin-bottom: -1rem;
}
.datasets section .input-group .input-group-append button svg {
    font-size: .875rem !important;
    vertical-align: middle;
}

/* ------------------ */
/*   dataset filter   */
/* ------------------ */

.datasets section {
    padding-right: 1rem;
}

.datasets section .filters-group {
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 1rem 0 1rem;
}

.datasets section .filters-group > .row:first-child > .col {
    justify-content: right !important;
}

.datasets section .count-group {
    border: none;
    border-radius: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: .5rem 1rem 0 1.8rem;
}
.datasets section .count-group > div.text-center {
    flex: auto;
}
.datasets section .loading-indicator {
    margin-top: -3.5rem !important;
    padding-top: 2rem;
}
.datasets section .loading-indicator div {
    color: #cb0c9f !important;
    font-size: 1.25rem;
    height: 4rem;
    margin: 2rem 0;
    width: 4rem;
}
.dark-mode .datasets section .loading-indicator div {
    color: #f070b8 !important;
}

.__cov-progress {
    background-color: #cb0c9f !important;
    height: 1rem !important;
    z-index: 1 !important;
}
.dark-mode .__cov-progress {
    background-color: #f070b8 !important;
}

.datasets section .selected-facets-group {
    border: none;
    border-radius: 0 0 1rem 1rem;
    margin-top: 0 !important;
    padding: 0 1rem 1rem 1rem;
    position: relative;
}
.datasets section .selected-facets-group > p {
    margin: 0;
    padding: .5rem 0 0 0;
}
.datasets section .selected-facets-group > p > span:first-child {
    font-weight: 400;
    margin-right: -.25rem;
    padding-left: .8rem;
}
.datasets section .selected-facets-group .badge {
    font-size: .75rem;
    margin-left: .25rem;
}
.datasets section .selected-facets-group .badge .close-facet {
    vertical-align: bottom;
}

/* ------------------ */
/*    dataset list    */
/* ------------------ */

.datasets section .items-group {
    margin-top: 1rem !important;
    padding: 1rem;
}
.datasets section .items-group::before {
    color: #304868;
    content: 'Einträge';
    font-weight: 600;
    padding: .5rem 0 1.5rem 0;
}
.dark-mode .datasets section .items-group::before {
    color: #90a0b8;
}
.datasets section .items-group .dataset {
    background: #fff;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0;
    margin: 0 -1rem;
    margin-top: 0 !important;
    padding: 0;
}
.dark-mode .datasets section .items-group .dataset {
    background-color: #202838;
    border-bottom-color: #f070b880 !important;
}
.datasets section .items-group .dataset:last-child {
    border-bottom: none !important;
}
.datasets section .items-group .dataset a {
    border-left: .5rem solid #fff;
    border-right: .5rem solid #fff;
}
.dark-mode .datasets section .items-group .dataset a {
    border-color: #202838;
    color: #e2e8f0 !important;
}

/* ------------------ */
/* dataset list item  */
/* ------------------ */

.data-info-box.dataset .card-header {
    padding-left: 3.5rem;
    padding-right: .5rem;
    position: relative;
}
.data-info-box.dataset .card-header .data-info-box-title {
    font-size: .875rem !important;
}
.dark-mode .data-info-box.dataset .card-header .data-info-box-title {
    color: #e2e8f0 !important;
}
.data-info-box.dataset ul.subtitle-list li {
    font-size: .75rem;
}
.data-info-box.dataset ul.subtitle-list li:not(:last-child) {
    border-right: 1px solid #cb0c9f;
    padding-right: .7rem;
}
.dark-mode .data-info-box.dataset ul.subtitle-list li:not(:last-child) {
    border-right-color: #f070b8;
}
.data-info-box.dataset ul.subtitle-list li span.d-inline-block {
    color: #304868 !important;
    font-weight: 600;
}
.dark-mode .data-info-box.dataset ul.subtitle-list li span.d-inline-block {
    color: #e2e8f0 !important;
}
.dataset-details-header img.catalogue-flag {
    border: none !important;
}
.data-info-box.dataset img.catalogue-flag {
    border: none !important;
    left: .5rem;
    height: 2.5rem;
    position: absolute;
    top: .9rem;
    width: 2.5rem;
}
.data-info-box.dataset .card-header div:nth-child(2) {
    margin-left: -3rem;
}
.data-info-box.dataset .card-body {
    font-size: .75rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.dataset .distributions h3 .badge {
    display: none;
}

/* ------------------ */
/*     pagination     */
/* ------------------ */

.pagination > li > button.page-link {
    border-radius: 0;
    padding: .5rem .75rem;
}
.pagination > li > button.page-link.prev-button {
    border-radius: .5rem 0 0 .5rem;
}
.pagination > li.active > button.page-link {
    font-weight: 600;
}
.pagination > li > button.page-link.next-button {
    border-radius: 0 .5rem .5rem 0;
}

/* ------------------ */
/*   dataset detail   */
/* ------------------ */

.dataset {
    padding-left: 1rem;
    padding-right: 1rem;
}
.dark-mode .dataset {
    color: #e2e8f0;
}

.dataset h3 {
    font-size: 1rem;
    font-weight: 700;
}

.dataset .details-top {
    margin-bottom: 0 !important;
}
.dataset .details-top .actions-row {
    margin: 0;
    padding: 1rem;
}
.dataset .details-top .header-row {
    border-radius: 1rem 1rem 0 0;
    font-size: .75rem;
    margin: 2rem 0 0 0;
    padding: 1rem 1rem 0 1rem;
}
.dataset .details-top .header-row .border-bottom span.d-inline-block {
    font-weight: 800;
    line-height: 2.5rem;
}
.dataset .border-bottom {
    border-bottom-color: #cb0c9f !important;
}
.dark-mode .dataset .border-bottom {
    border-bottom-color: #f070b8 !important;
}

.dataset .description {
    border-radius: 0 0 1rem 1rem;
    font-size: .75rem;
    margin: 0 !important;
    padding: 1rem;
}

.dataset .distributions {
    margin: 1rem 0 0 0 !important;
    padding: 1rem;
}
.dataset .distributions .row {
    margin: 0;
}
.dataset .distributions ul {
    border-top-color: #cb0c9f !important;
    margin-bottom: 0;
    padding: 0;
}
.dark-mode .dataset .distributions ul {
    border-top-color: #f070b8 !important;
}
.dataset .distributions li:last-child {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}
.dataset .distributions li small {
    font-size: .75rem;
    white-space: normal;
}
.dataset .distributions li > span:nth-child(2) > span > span:first-child > span {
    line-height: 1;
}
.dataset .distributions li > span:first-child,
.dataset .distributions li span.text-end {
    margin: auto 0 !important;
}

.dataset .keywords {
    border-radius: 1rem 1rem 0 0;
    font-size: .75rem;
    margin: 2rem 0 0 0 !important;
    padding: 1rem 1rem 0 1rem;
}
.dataset .keywords::before {
    content: 'Schlüsselwörter';
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem 0 1.5rem .75rem;
}
.dataset .keywords > .row {
    margin-top: 1rem;
}
.dataset .keywords .row .row {
    margin-left: 0;
    margin-right: 0;
}
.dataset .keywords span {
    padding-left: .33rem;
    padding-right: .33rem;
    width: fit-content;
}
.dataset .keywords span small::before {
    content: attr(title);
}

.dataset .info {
    border-radius: 0 0 1rem 1rem;
    font-size: .75rem;
    margin: 0 !important;
    padding: 1rem;
}
.dataset .info > .row > div > .row > div:nth-child(1) {
    width: 2.5rem;
}
.dataset .info > .row > div > .row > div:nth-child(2) {
    padding-bottom: 0 !important;
    padding-left: 0;
}
.dark-mode .dataset .info > .row > div > .row > div:nth-child(2) {
    background-color: #202838 !important;
}
.dataset .info > .row > div > .row > div:nth-child(3) table {
    background: #fff !important;
    margin-bottom: 0;
    margin-left: 1.75rem;
    width: calc(100% - 1.75rem);
}
.dark-mode .dataset .info > .row > div > .row > div:nth-child(3) table {
    background-color: #202838 !important;
    color: #e2e8f0;
}
.dataset .info > .row > div > .row > div:nth-child(3) table tr td:nth-child(2) {
    font-weight: 800;
}

/* ------------------ */

.dataset-details-header[type="iTWO tender"] img.catalogue-flag,
.data-info-box.dataset[type="iTWO tender"] img.catalogue-flag {
    content: url('fa-itwo.svg');
    filter: invert(.2);
}
.dark-mode .dataset-details-header[type="iTWO tender"] img.catalogue-flag,
.dark-mode .data-info-box.dataset[type="iTWO tender"] img.catalogue-flag {
    filter: invert(.9);
}

.dataset-details-header[type=PARDOK] img.catalogue-flag,
.data-info-box.dataset[type=PARDOK] img.catalogue-flag {
    content: url('logo-agh.svg');
    filter: invert(.9);
}
.dark-mode .dataset-details-header[type=PARDOK] img.catalogue-flag,
.dark-mode .data-info-box.dataset[type=PARDOK] img.catalogue-flag {
    filter: invert(.2);
}

.dataset-details-header[type=Pressemitteilung] img.catalogue-flag,
.data-info-box.dataset[type=Pressemitteilung] img.catalogue-flag,
.dataset-details-header[type=Webseite] img.catalogue-flag,
.data-info-box.dataset[type=Webseite] img.catalogue-flag {
    content: url('wiki-berlin.svg');
}
.dark-mode .dataset-details-header[type=Pressemitteilung] img.catalogue-flag,
.dark-mode .data-info-box.dataset[type=Pressemitteilung] img.catalogue-flag,
.dark-mode .dataset-details-header[type=Webseite] img.catalogue-flag,
.dark-mode .data-info-box.dataset[type=Webseite] img.catalogue-flag {
    filter: invert(.9);
}

.dataset-details-header[type=Twitter] img.catalogue-flag,
.data-info-box.dataset[type=Twitter] img.catalogue-flag {
    content: url('fa-twitter.svg');
    filter: invert(.2);
    width: 2.1rem;
}
.dark-mode .dataset-details-header[type=Twitter] img.catalogue-flag,
.dark-mode .data-info-box.dataset[type=Twitter] img.catalogue-flag {
    filter: invert(.9);
}

.dataset-details-header[type=Medien] img.catalogue-flag,
.data-info-box.dataset[type=Medien] img.catalogue-flag {
    content: url('fa-newspaper.svg');
    filter: invert(.2);
}
.dark-mode .dataset-details-header[type=Medien] img.catalogue-flag,
.dark-mode .data-info-box.dataset[type=Medien] img.catalogue-flag {
    filter: invert(.9);
}

div[type=Artikel] .badge,
.badge[type=Artikel] {
    background-color: #FFFFFF !important;
    border-color: #004B87 !important;
    color: #004B87 !important;
}
.dark-mode div[type=Artikel] .badge,
.dark-mode .badge[type=Artikel] {
    filter: brightness(.8);
}
div[type=PDF] .badge,
.badge[type=PDF] {
    background-color: #F40F02 !important;
    border-color: #BA131F !important;
    color: #FFFFFF !important;
}
.dark-mode div[type=PDF] .badge,
.dark-mode .badge[type=PDF] {
    filter: brightness(.8);
}
div[type=Tabelle] .badge,
.badge[type=Tabelle] {
    background-color: #f0e51d !important;
    border-color: #bfb617 !important;
    color: #222 !important;
}
.dark-mode div[type=Tabelle] .badge,
.dark-mode .badge[type=Tabelle] {
    filter: brightness(.8);
}
div[type=Tweet] .badge,
.badge[type=Tweet] {
    background-color: #1D9BF0 !important;
    border-color: #657786 !important;
    color: #F5F8FA !important;
}
.dark-mode div[type=Tweet] .badge,
.dark-mode .badge[type=Tweet] {
    filter: brightness(.8);
}
