/* ------------------ */
/*   common: colors   */
/* ------------------ */

body {
    background-color: #f8f9fa!important;
    font-weight: 400;
}

header nav.navbar,
.datasets section .filters-group,
.datasets section .count-group,
.datasets section .selected-facets-group,
.datasets section .items-group,
.dataset-facets .facet-field .list-group,
.dataset .details-top .actions-row,
.dataset .details-top .header-row,
.dataset .description,
.dataset .distributions,
.dataset .keywords,
.dataset .info {
    box-shadow: 0 .3rem .7rem 0 rgba(0,0,0,.1) !important;
}

header nav.navbar .nav-link {
    color: #344767;
    font-size: .875rem;
    font-weight: 400;
}

.dataset-facets .list-group-item,
.datasets section .count-group,
.datasets section .selected-facets-group {
    color: #344767;
    font-size: .875rem;
    font-weight: 600;
}

header nav.navbar .navbar-brand {
    color: #344767;
    font-size: .875rem;
    font-weight: 700 !important;
}

.dropdown-menu {
    font-size: .875rem;
}
.dropdown-menu .btn {
    font-size: .875rem;
}

.dataset-facets .list-group-item-action.active .facet-count,
.datasets section .selected-facets-group .badge {
    background: #cb0c9f !important;
    border-color: #cb0c9f !important;
    color: #fff !important;
}

.dataset-facets .facet-header-item {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    background-position-x: 25%;
    background-size: 150%;
}
.dataset-facets .list-group-item-action.active:hover {
    background-color: #fff;
    background-image: linear-gradient(310deg,#7928ca60,#ff008060);
    background-position-x: 25%;
    background-size: 150%;
}
.dataset-facets .list-group-item-action.active {
    background-color: #fff;
    background-image: linear-gradient(310deg,#7928ca40,#ff008040);
    background-position-x: 25%;
    background-size: 150%;
}
.datasets section .items-group .dataset:hover a {
    border-color: #cb0c9f !important;
}
.dataset-facets .list-group-item-action:focus,
.dataset-facets .list-group-item-action:hover {
    background-color: #fff;
    background-image: linear-gradient(310deg,#7928ca20,#ff008020);
    background-position-x: 25%;
    background-size: 150%;
}

/* ------------------ */
/*  common: buttons   */
/* ------------------ */

.btn.btn-secondary,
input.form-control,
a > .rounded-pill,
.pagination > li > button.page-link {
    background: #fff !important;
    border: 1px solid #cb0c9f;
    border-radius: .5rem;
    color: #cb0c9f !important;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    line-height: 1.4rem;
    padding: .5rem .75rem;
    text-align: center;
}
input.form-control {
    text-align: left;
}
a > .rounded-pill {
    line-height: 1rem;
}
.pagination > li.active > button.page-link {
    background-color: #fff !important;
    background-image: linear-gradient(310deg,#7928ca40,#ff008040) !important;
    background-position-x: 25% !important;
    background-size: 150% !important;
    border-color: #cb0c9f !important;
    color: #cb0c9f !important;
}

.btn.btn-secondary:focus,
input.form-control:focus,
a > .rounded-pill:focus,
.pagination > li > button.page-link:focus {
    background-color: #fff !important;
    border-color: #cb0c9f !important;
    box-shadow: inset 0 0 0 0.25rem #cb0c9f40;
    color: #cb0c9f !important;
}

.btn.btn-secondary:hover,
input.form-control:hover,
a > .rounded-pill:hover,
.pagination > li > button.page-link:hover {
    background-color: #fff !important;
    background-image: linear-gradient(310deg,#7928ca20,#ff008020) !important;
    background-position-x: 25% !important;
    background-size: 150% !important;
    border-color: #cb0c9f !important;
    color: #cb0c9f !important;
}
.pagination > li.active > button.page-link:hover {
    background-color: #fff !important;
    background-image: linear-gradient(310deg,#7928ca60,#ff008060) !important;
    background-position-x: 25% !important;
    background-size: 150% !important;
    border-color: #cb0c9f !important;
    color: #cb0c9f !important;
}

.navbar .btn.btn-secondary {
    border: none;
    line-height: 1rem;
    padding: 0 .5rem;
}

.link-dark {
    color: #cb0c9f;
}
.link-dark svg {
    color: #cb0c9f !important;
}
.link-dark:hover {
    background-color: #fff !important;
    background-image: linear-gradient(310deg,#7928ca20,#ff008020);
    background-position-x: 25%;
    background-size: 150%;
    color: #cb0c9f;
}
.link-dark:hover svg {
    color: #cb0c9f !important;
}
.link-dark:focus {
    box-shadow: 0 0 0 0.25rem #cb0c9f40;
    color: #cb0c9f !important;
    outline: 0;
}

/* ------------------ */
/*   common: cards    */
/* ------------------ */

.datasets section .filters-group,
.dataset-facets .facet-field .list-group,
.datasets section .count-group,
.datasets section .selected-facets-group,
.datasets section .items-group,
.dataset .details-top .actions-row,
.dataset .details-top .header-row,
.dataset .description,
.dataset .distributions,
.dataset .keywords,
.dataset .info {
    background: #fff;
    border-radius: 1rem;
}
.datasets section .input-group .input-group-append button {
    border-radius: 0 .5rem .5rem 0;
}

/* ------------------ */
/*       header       */
/* ------------------ */

header {
    position: sticky;
    top: 0;
    z-index: 1024;
}
header.border-bottom {
    border-bottom: none !important;
}
header.mb-3 {
    margin-bottom: 0 !important;
}
header nav.navbar {
    -webkit-backdrop-filter: saturate(175%) blur(.3rem);
    backdrop-filter: saturate(175%) blur(.3rem);
    background-color: rgba(255,255,255,.8) !important;
    border-radius: 1rem;
    left: 0 !important;
    margin: 1rem 1.5rem 1rem 1.5rem !important;
    padding: 0.5rem 1rem !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 5 !important;
}
header nav.navbar > .container-fluid {
    padding: 0 0 0 1.5rem;
}
header nav.navbar .navbar-brand {
    letter-spacing: -0.03rem;
    margin: 0 1rem !important;
    padding: .6rem 0;
}
@media (min-width: 992px) {
    header nav.navbar .navbar-brand {
        margin-left: 0 !important;
    }
}
header nav.navbar .nav-link {
    padding: .5rem 1rem;
}

.content-wrapper {
    padding-top: 5.5rem;
}

/* ------------------ */
/*   dataset-facets   */
/* ------------------ */

.dataset-facets .facet-field .list-group {
    margin-right: .75rem;
    padding-bottom: 1rem;
    padding-right: 0;
}

.dataset-facets .list-group-item {
    border: none;
    border-radius: 0;
}
.dataset-facets .list-group-item-action.active {
    color: #344767;
}

.dataset-facets .facet-count {
    background: #fff !important;
    border-color: #344767 !important;
    border-radius: .5rem;
    color: hsl(218, 33%, 30%) !important;
}

.dataset-facets .facet-header-item {
    border-radius: 1rem 1rem 0 0 !important;
    border: 0;
    font-size: .75rem;
    margin: 0 !important;
    padding: .75rem 1.5rem !important;
    text-align: center;
    width: 100% !important;
}
.dataset-facets .facet-header-item .facet-title {
    color: #fff !important;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
}
.dataset-facets .btn.btn-secondary {
    margin-bottom: -1rem;
}
.datasets section .input-group .input-group-append button svg {
    font-size: .875rem !important;
    vertical-align: middle;
}

/* ------------------ */
/*   dataset filter   */
/* ------------------ */

.datasets section {
    padding-right: 1rem;
}

.datasets section .filters-group {
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 1rem 0 1rem;
}

.datasets section .filters-group > .row:first-child > .col {
    justify-content: right !important;
}

.datasets section .count-group {
    border: none;
    border-radius: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: .5rem 1rem 0 1.8rem;
}
.datasets section .count-group > div.text-center {
    flex: auto;
}
.datasets section .loading-indicator div {
    color: #cb0c9f !important;
    font-size: 1.25rem;
    height: 4rem;
    margin: 2rem 0;
    width: 4rem;
}

.datasets section .selected-facets-group {
    border: none;
    border-radius: 0 0 1rem 1rem;
    margin-top: 0 !important;
    padding: 0 1rem 1rem 1rem;
    position: relative;
}
.datasets section .selected-facets-group > p {
    margin: 0;
    padding: .5rem 0 0 0;
}
.datasets section .selected-facets-group > p > span:first-child {
    font-weight: 400;
    margin-right: -.25rem;
    padding-left: .8rem;
}
.datasets section .selected-facets-group .badge {
    font-size: .75rem;
    margin-left: .25rem;
}
.datasets section .selected-facets-group .badge .close-facet {
    vertical-align: bottom;
}

/* ------------------ */
/*    dataset list    */
/* ------------------ */

.datasets section .items-group {
    margin-top: 1rem !important;
    padding: 1rem;
}
.datasets section .items-group::before {
    content: 'Datensätze';
    font-weight: 600;
    padding: .5rem 0 1.5rem 0;
}
.datasets section .items-group .dataset {
    background: #fff;
    border: none !important;
    border-bottom: 1px solid #222 !important;
    border-radius: 0;
    margin-top: 0 !important;
    padding: .5rem 0;
}
.datasets section .items-group .dataset:last-child {
    border-bottom: none !important;
}
.datasets section .items-group .dataset a {
    border: 1px solid #fff;
}
.datasets section .items-group .dataset a:first-child {
    border-bottom: none;
    border-radius: .75rem .75rem 0 0;
}
.datasets section .items-group .dataset a:last-child {
    border-radius: 0 0 .75rem .75rem;
    border-top: none;
}

/* ------------------ */
/* dataset list item  */
/* ------------------ */

.data-info-box.dataset .card-header {
    padding-left: 4rem;
    position: relative;
}
.data-info-box.dataset .card-header .data-info-box-title {
    font-size: .875rem !important;
}
.data-info-box.dataset ul.subtitle-list li {
    font-size: .75rem;
}
.data-info-box.dataset ul.subtitle-list li:not(:last-child) {
    border-right: 1px solid #cb0c9f;
    padding-right: .7rem;
}
.data-info-box.dataset ul.subtitle-list li span.d-inline-block {
    color: #344767 !important;
    font-weight: 600;
}
.dataset-details-header img.catalogue-flag {
    border: none !important;
}
.data-info-box.dataset img.catalogue-flag {
    border: none !important;
    left: 1rem;
    height: 2.5rem;
    position: absolute;
    top: .9rem;
    width: 2.5rem;
}
.data-info-box.dataset .card-header div:nth-child(2) {
    margin-left: -3rem;
}
.data-info-box.dataset .card-body {
    font-size: .75rem;
}

.dataset .distributions h3 .badge {
    display: none;
}

/* ------------------ */
/*     pagination     */
/* ------------------ */

.pagination > li > button.page-link {
    border-radius: 0;
    padding: .5rem .75rem;
}
.pagination > li > button.page-link.prev-button {
    border-radius: .5rem 0 0 .5rem;
}
.pagination > li.active > button.page-link {
    font-weight: 600;
}
.pagination > li > button.page-link.next-button {
    border-radius: 0 .5rem .5rem 0;
}

/* ------------------ */
/*   dataset detail   */
/* ------------------ */

.dataset {
    padding-left: 1rem;
    padding-right: 1rem;
}

.dataset h3 {
    font-size: 1rem;
    font-weight: 700;
}

.dataset .details-top {
    margin-bottom: 0 !important;
}
.dataset .details-top .actions-row {
    margin: 0;
    padding: 1rem;
}
.dataset .details-top .header-row {
    border-radius: 1rem 1rem 0 0;
    font-size: .75rem;
    margin: 2rem 0 0 0;
    padding: 1rem 1rem 0 1rem;
}
.dataset .details-top .header-row .border-bottom span.d-inline-block {
    font-weight: 800;
    line-height: 2.5rem;
}
.dataset .border-bottom {
    border-bottom-color: #cb0c9f !important;
}

.dataset .description {
    border-radius: 0 0 1rem 1rem;
    font-size: .75rem;
    margin: 0 !important;
    padding: 1rem;
}

.dataset .distributions {
    margin: 1rem 0 0 0 !important;
    padding: 1rem;
}
.dataset .distributions .row {
    margin: 0;
}
.dataset .distributions ul {
    border-top-color: #cb0c9f !important;
    margin-bottom: 0;
    padding: 0;
}
.dataset .distributions li small {
    font-size: .75rem;
}
.dataset .distributions li > span:first-child,
.dataset .distributions li span.text-end {
    margin: auto 0 !important;
}

.dataset .keywords {
    border-radius: 1rem 1rem 0 0;
    font-size: .75rem;
    margin: 2rem 0 0 0 !important;
    padding: 1rem 1rem 0 1rem;
}

.dataset .info {
    border-radius: 0 0 1rem 1rem;
    font-size: .75rem;
    margin: 0 !important;
    padding: 1rem;
}
.dataset .info > .row > div > .row > div:nth-child(1) {
    width: 2.5rem;
}
.dataset .info > .row > div > .row > div:nth-child(2) {
    padding-bottom: 0 !important;
    padding-left: 0;
}
.dataset .info > .row > div > .row > div:nth-child(3) table {
    background: #fff !important;
    margin-bottom: 0;
    margin-left: 1.75rem;
}
.dataset .info > .row > div > .row > div:nth-child(3) table tr td:nth-child(2) {
    font-weight: 800;
}

/* ------------------ */

.dataset-details-header[type="iTWO tender"] img.catalogue-flag,
.data-info-box.dataset[type="iTWO tender"] img.catalogue-flag {
    content: url('fa-itwo.svg');
}

.dataset-details-header[type=PARDOK] img.catalogue-flag,
.data-info-box.dataset[type=PARDOK] img.catalogue-flag {
    content: url('logo-agh.svg');
    filter: brightness(1) invert(1);
}
.dataset-details-header[type=PARDOK] img.catalogue-flag {
    filter: brightness(1) invert(1);
}

.dataset-details-header[type=Pressemitteilung] img.catalogue-flag,
.data-info-box.dataset[type=Pressemitteilung] img.catalogue-flag,
.dataset-details-header[type=Webseite] img.catalogue-flag,
.data-info-box.dataset[type=Webseite] img.catalogue-flag {
    content: url('wiki-berlin.svg');
}

.dataset-details-header[type=Twitter] img.catalogue-flag,
.data-info-box.dataset[type=Twitter] img.catalogue-flag {
    content: url('fa-twitter.svg');
    width: 2.1rem;
}

.dataset-details-header[type=Tagesspiegel] img.catalogue-flag,
.data-info-box.dataset[type=Tagesspiegel] img.catalogue-flag {
    content: url('fa-newspaper.svg');
}

div[type=Artikel] .badge,
.badge[type=Artikel] {
    background-color: #FFFFFF !important;
    border-color: #004B87 !important;
    color: #004B87 !important;
}
div[type=PDF] .badge,
.badge[type=PDF] {
    background-color: #F40F02 !important;
    border-color: #BA131F !important;
    color: #FFFFFF !important;
}
div[type=Tweet] .badge,
.badge[type=Tweet] {
    background-color: #1D9BF0 !important;
    border-color: #657786 !important;
    color: #F5F8FA !important;
}
